<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bell Schedule</title>
    <style type="text/css">
    
    body {
        width: 100%;
        height: 100%;
        font-family: Helvetica, Arial, Sans-Serif;
    }
    #main {
        position:absolute; 
        height:100%; width:100%;
        display: table;
        top: 30%;
    }
    h1 {        
        vertical-align: middle;
        text-align:center;
        font-size: 36pt;
    }
    .centered {
        margin: 0 auto;
        text-align: left;
        width: 800px;
    }
    
    
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div id="main" class="centered">
        
        <h1>Welcome to Bell Schedule<br/><br/><a href='https://clever.com/oauth/authorize?response_type=code&redirect_uri={{redirect_uri}}&client_id={{client_id}}&scope=read%3Auser_id%20read%3Asis&district_id={{district_id}}'><img src='/images/signinwithclever.png'/></a>
            
        </h1>
        <br/><br/>
        <div class="centered">
            <ol>     
                <li>Click the Login With Clever button.</li>
                <li>Paste district ID <code>544982fbc7da940010000036</code> into the District picker to select a demo district.</li>
                <li>Use username <code>aaronm38</code> and password <code>dah6eeVeuj</code> to log in.</li>
            </ol>
        </div>
    </div>
</body>
</html>

