<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bell Schedule</title>
    
    <style type="text/css">
    
    body {
        width: 100%;
        height: 100%;
        font-family: Helvetica, Arial, Sans-Serif;
    }
    #main {
        position:absolute; 
        height:100%; width:100%;
        display: table;
    }

    #schedule {
        display: table-cell;
        vertical-align: middle;
        font-size: 24pt;
    }
    
    #logout {
        position: relative;
        margin-right: 10px;
        text-align: right;
    }

    </style>    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div id="logout"><a href='/logout'>Logout</a></div>
    <div id="main" class="panel panel-default">


        <div id='schedule' class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Schedule for {{name.last}}, {{name.first}}</div>
          

          <!-- Table -->
          <table class="table">
            <tbody>
                <tr>
                    <th>Class Name</th>
                    <th>Period</th>
                </tr>
                {{#each data}}                
                    <tr>
                       <td>{{data.name}}</td>
                       <td>{{data.period}}</td>
                    </tr>                    
                {{/each}}
            </tbody>  
          </table>
        </div>
          
    </div>
    
</body>
</html>

