#!/bin/bash
# Retrieve your client ID, secret, and a district ID from your Clever developer dashboard
export CLEVER_CLIENT_ID=x
export CLEVER_CLIENT_SECRET=x
export CLEVER_REDIRECT_BASE=http://localhost:2587
export CLEVER_API_BASE=https://api.clever.com
